$brand-color: rgb(255, 255, 255);
$my-background: rgb(255, 255, 255);
$link-color: rgb(61, 60, 60);
$buybutton-color: rgb(95, 197, 129);
$text-color: rgb(255, 255, 255);
$my-font: 'Rokkitt',
serif;
$my-pfont:'Open Sans',
sans-serif;
$my-h: 'Orbitron',
sans-serif;
$thin-font: 200;
$thick-font: 400;
$button-color: rgb(255, 255, 255);
$button-hover: rgb(236, 236, 236);